fastapi
uvicorn
psycopg2-binary
sqlalchemy
alembic
pydantic
pydantic-settings
email-validator
pinecone
langchain
langchain-google-genai
langchain-text-splitters
google-genai
pypdf
cloudinary
pyjwt
python-dotenv
pwdlib[argon2]
python-multipart
